* {
    margin: 0;
    padding: 0;
}

:root {
    --color-backgr-1: white;
    --color-backgr-2: ivory;
    --color-backgr-3: linear-gradient(45deg, goldenrod 0%, white 50%, goldenrod 100%);
    --color-1: darkred;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-backgr-1);
}

body {
    width: 50vw;
    min-width: 425px;
    margin: 2.5vw auto;
    border: 2px solid var(--color-1);
    background-color: var(--color-backgr-2);
    background-color: oldlace;
}

header {
    margin-bottom: 2.5vh;
    padding: 3.5vh 2.5vw;
    border-bottom: 2px solid var(--color-1);
    background-image: var(--color-backgr-3);
}

header img {
    float: left;
    margin: 0 2.5vw;
}

h1 {
    font-size: 2rem;
    color: var(--color-1);
}

header h3 {
    font-size: 1.25rem;
    font-style: italic;
}

span.special-effect {
    text-shadow: 1px 1px 2px var(--color1);
}

main {
    clear: left;
    padding: 1.5vh 2.5vw;
}

main section {
    margin-bottom: 2.5vh;
}

main h2 {
    font-size: 1.25rem;
    color: var(--color-1);
}

main p {
    font-size: 1rem;
    margin: 1vh 0;
}

main blockquote {
    padding-left: 2rem;
    margin: 1vh 0;
}

main section ul {
    padding-top: 1vh;
    padding-left: 2rem;
}

main section.speakers h2 {
    color: black;
    font-size: 1.75rem;
    text-align: center;
    padding: 1.25vh 1vw;
    border: 2.5px double var(--color-1);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 2.5vh;
    background-color: var(--color-backgr-1);
}

main section.speakers div.speaker {
    margin-bottom: 1.5vh;
}

main section.speakers div.speaker h3 {
    font-size: 1rem;
    margin-bottom: 0.5vh;
}

footer {
    font-size: 0.75rem;
    color: white;
    background-color: var(--color-1);
    text-align: center;
    padding: 2vh 0;
}
