html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 48px;
}

.indent {
    text-indent: 1.5rem;
}

.bold {
    font-weight: bold;
}

img.logo {
    float: left;
    margin-right: 1.2rem;
}

h1 {
    font-size: 2rem;
    color: sandybrown;
    text-shadow: 2px 2px 1px black;
}

h3 {
    font-size: 1.5rem;
    text-indent: 2.5rem;
}

h3 {
    font-size: 1.2rem;
}

ul {
    padding-left: 2.5rem;
}

p,
li,
li a {
    font-size: 1rem;
}

li a:link {
    color: slategray;
}

li a:hover,
li a:focus,
li a:active {
    color: black;
}

li a:visited {
    color: brown;
}


footer p {
    font-size: 0.8rem;
    text-align: right;
}